<mat-card>
    <form class="example-form">
        <div class="flex-upper-box">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput value="">
            </mat-form-field>
            <div class="gutter-1"></div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Priority</mat-label>
                <input matInput value="">
            </mat-form-field>
            <div class="gutter-1"></div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>IssueType</mat-label>
                <input matInput value="">
            </mat-form-field>
        </div>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <div>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput value="">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Priority</mat-label>
            <input matInput value="">
        </mat-form-field>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="primary">Primary</button>
        </div>
</form>
</mat-card>
