.example-form {
  min-width: 150px;
  /*max-width: 500px;*/
  /*width: 100%;*/
}

.example-full-width {
  width: 100%;
}

.flex-upper-box {
  display: flex;
  flex-direction: row;
}

.gutter-1 {
  margin: 1%;
}

.flex-bottom-box {
  display: flex;
  align-items: center;
}

.button-with-40 {
  width: 40%
}